@model IEnumerable<MinimartWeb.Model.OtpRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OtpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtpType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OtpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAccount.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtpType.OtpTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OtpRequestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OtpRequestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OtpRequestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
